body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

}


.row {
  display: flex;
  width: 96%;
  margin-bottom: 10px;
  /* Optional spacing between rows */
}

.pie {
  flex: 1;
  margin-right: 10px;
  /* Optional spacing between columns */
  background-color: lightgray;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  /* Green */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
  /* Darker Green */
}

button[disabled] {
  background-color: #cccccc;
  /* Light Gray */
  cursor: not-allowed;
}

.pie:hover {
  outline: 4px solid orange;
  cursor: pointer;
}

.pieName {
  font-size: 32px;
  font-weight: 800;
}

.chart {
  height: 500px;
}

h1 {
  text-align: center;
}

#keylime {
  background-image: url("images/keylimeT.png");
}

#mb3p {
  background-image: url("images/mb3pT.png");
}

#sr {
  background-image: url("images/strawRhu.png");
}

#mmud {
  background-image: url("images/mmud.png");
}